In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from util import truncate

In [30]:
pd.set_option('display.max_columns', None)

In [25]:
ksi_df = pd.read_csv('Data/KSI.csv')

In [19]:
# empty column just made so that we can take count in pivot table

ksi_df['COUNT'] = 1

In [31]:
ksi_df[ksi_df['ACCNUM'] == 892658]

,X,Y,INDEX_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,OFFSET,ROAD_CLASS,DISTRICT,WARDNUM,DIVISION,LATITUDE,LONGITUDE,LOCCOORD,ACCLOC,TRAFFCTL,VISIBILITY,LIGHT,RDSFCOND,ACCLASS,IMPACTYPE,INVTYPE,INVAGE,INJURY,FATAL_NO,INITDIR,VEHTYPE,MANOEUVER,DRIVACT,DRIVCOND,PEDTYPE,PEDACT,PEDCOND,CYCLISTYPE,CYCACT,CYCCOND,PEDESTRIAN,CYCLIST,AUTOMOBILE,MOTORCYCLE,TRUCK,TRSN_CITY_VEH,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,-8.844611e+06,5.412414e+06,3387730,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,<Null>,Major Arterial,Toronto and East York,4,11,43.656345,-79.45249,Intersection,At Intersection,Traffic Signal,Clear,Daylight,Dry,Fatal,Pedestrian Collisions,Driver,unknown,None,<Null>,South,"Automobile, Station Wagon",Turning Left,Failed to Yield Right of Way,Unknown,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,Yes,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),1
1,-8.844611e+06,5.412414e+06,3387731,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,<Null>,Major Arterial,Toronto and East York,4,11,43.656345,-79.45249,Intersection,At Intersection,Traffic Signal,Clear,Daylight,Dry,Fatal,Pedestrian Collisions,Pedestrian,65 to 69,Fatal,<Null>,North,Other,<Null>,<Null>,<Null>,Vehicle turns left while ped crosses with ROW ...,Crossing with right of way,Unknown,<Null>,<Null>,<Null>,Yes,<Null>,Yes,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),2

In [32]:
ksi_df.iloc[ksi_df['ACCNUM'].drop_duplicates().index].head()

,X,Y,INDEX_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,OFFSET,ROAD_CLASS,DISTRICT,WARDNUM,DIVISION,LATITUDE,LONGITUDE,LOCCOORD,ACCLOC,TRAFFCTL,VISIBILITY,LIGHT,RDSFCOND,ACCLASS,IMPACTYPE,INVTYPE,INVAGE,INJURY,FATAL_NO,INITDIR,VEHTYPE,MANOEUVER,DRIVACT,DRIVCOND,PEDTYPE,PEDACT,PEDCOND,CYCLISTYPE,CYCACT,CYCCOND,PEDESTRIAN,CYCLIST,AUTOMOBILE,MOTORCYCLE,TRUCK,TRSN_CITY_VEH,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,-8.844611e+06,5.412414e+06,3387730,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,<Null>,Major Arterial,Toronto and East York,4,11,43.656345,-79.452490,Intersection,At Intersection,Traffic Signal,Clear,Daylight,Dry,Fatal,Pedestrian Collisions,Driver,unknown,None,<Null>,South,"Automobile, Station Wagon",Turning Left,Failed to Yield Right of Way,Unknown,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,Yes,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),1
2,-8.816480e+06,5.434843e+06,3388101,892810,2006,2006/03/11 05:00:00+00,915,9,MORNINGSIDE AVE,SHEPPARD AVE E,<Null>,Major Arterial,Scarborough,25,42,43.801943,-79.199786,Intersection,At Intersection,Traffic Signal,Clear,Daylight,Dry,Fatal,Turning Movement,Motorcycle Driver,45 to 49,Fatal,<Null>,East,Motorcycle,Turning Right,Disobeyed Traffic Control,Unknown,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,Yes,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,Yes,<Null>,<Null>,D42,131,Rouge (131),3
4,-8.822759e+06,5.424516e+06,3387793,892682,2006,2006/03/12 05:00:00+00,240,2,EGLINTON AVE E,COMMONWEALTH AVE,<Null>,Major Arterial,Scarborough,"21,20",41,43.734945,-79.256190,Mid-Block,<Null>,No Control,Clear,Dark,Dry,Fatal,Pedestrian Collisions,Driver,25 to 29,None,<Null>,West,"Automobile, Station Wagon",Going Ahead,Other,"Ability Impaired, Alcohol",<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,Yes,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,D41,138,Eglinton East (138),5
7,-8.841082e+06,5.411337e+06,3388371,892913,2006,2006/03/12 05:00:00+00,1903,19,OSSINGTON AVE,DUNDAS ST W,<Null>,Major Arterial,Toronto and East York,"9,11,10",14,43.649345,-79.420790,Intersection,At Intersection,Traffic Signal,Clear,Dark,Dry,Non-Fatal Injury,Pedestrian Collisions,Driver,30 to 34,None,<Null>,East,"Automobile, Station Wagon",Turning Left,Failed to Yield Right of Way,"Ability Impaired, Alcohol Over .08",<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,Yes,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,Yes,<Null>,D14,81,Trinity-Bellwoods (81),8
9,-8.855097e+06,5.418678e+06,3389258,893251,2006,2006/03/15 05:00:00+00,1535,15,ISLINGTON AVE,DIXON RD,<Null>,Major Arterial,Etobicoke York,"1,2",23,43.697045,-79.546690,Intersection,At Intersection,Traffic Signal,Clear,Daylight,Dry,Fatal,Pedestrian Collisions,Driver,40 to 44,None,<Null>,East,"Automobile, Station Wagon",Going Ahead,Driving Properly,Normal,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,Yes,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,D23,6,Kingsview Village-The Westway (6),10

In [16]:
accnum_list = ksi_df['ACCNUM'].unique()

In [18]:
len(accnum_list)

6002

In [17]:
ksi_df['LATITUDE'] = ksi_df['LATITUDE'].apply(truncate, args = (2,))
ksi_df['LONGITUDE'] = ksi_df['LONGITUDE'].apply(truncate, args = (2,))

In [20]:
ksi_collapse = ksi_df.loc[ksi_df['ACCNUM'].drop_duplicates().index].pivot_table(values = ['COUNT'], index = ['LATITUDE', 'LONGITUDE'], aggfunc = 'count')

In [21]:
ksi_collapse.reset_index(inplace = True)

In [22]:
ksi_collapse

     LATITUDE  LONGITUDE  COUNT
0       43.59     -79.54      4
1       43.59     -79.53     11
2       43.59     -79.52      5
3       43.59     -79.51      6
4       43.59     -79.50      1
..        ...        ...    ...
683     43.84     -79.19      2
684     43.85     -79.19      1
685     43.85     -79.18      1
686     43.85     -79.17      5
687     43.85     -79.16      1

[688 rows x 3 columns]

In [10]:
# this latitude and longitude has 2 accidents

ksi_df[(ksi_df['LATITUDE'] == 43.853) & (ksi_df['LONGITUDE'] == -79.179)]

,X,Y,INDEX_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId,COUNT
2270,-8.814276e+06,5.442744e+06,4274318,1000440,2007,2007/10/21 04:00:00+00,1449,14,STEELES Aven E,BEARE Road,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2271,1
2278,-8.814276e+06,5.442744e+06,4274319,1000440,2007,2007/10/21 04:00:00+00,1449,14,STEELES Aven E,BEARE Road,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2279,1
2456,-8.814276e+06,5.442744e+06,4196587,981104,2007,2007/06/23 04:00:00+00,1000,10,STEELES AVE E,BEARE RD,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2457,1
2461,-8.814276e+06,5.442744e+06,4196588,981104,2007,2007/06/23 04:00:00+00,1000,10,STEELES AVE E,BEARE RD,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2462,1
2466,-8.814276e+06,5.442744e+06,4196589,981104,2007,2007/06/23 04:00:00+00,1000,10,STEELES AVE E,BEARE RD,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2467,1
2472,-8.814276e+06,5.442744e+06,4196590,981104,2007,2007/06/23 04:00:00+00,1000,10,STEELES AVE E,BEARE RD,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2473,1

In [23]:
ksi_collapse.to_csv('KSI_Collapse_Count_round2.csv')